<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="C:\Users\Дима\Desktop\anim sait\static\css\style.css">
        <link rel="stylesheet" href="C:\Users\Дима\Desktop\anim sait\static\css\button.css">
    </head>

    <body>
        <header>
            <div class="header">
                <button class="custom-btn btn-3 menu-btn"><span>Меню</span></button>
                <h1 class="anim_head">Anime сайт</h1>
                <button class="custom-btn btn-3 log-btn"><span>Войти</span></button>
            </div>
            <div class="menu_mobile ">
                <div class="menu_header">
                    <button class="close-menu custom-btn btn-3"><span>X</span></button>
                    <h2 class="menu_title">Меню:</h2>
                </div>
                <div class="buttons">
                    <button class="art-btn custom-btn btn-3"><span>Арты</span></button>
                    <button class="zam-btn custom-btn btn-3"><span>Заметки</span></button>
                    <button class="friend-btn custom-btn btn-3"><span>Друзья</span></button>
                </div>
            </div>
        </header>

        <script src="C:\Users\Дима\Desktop\anim sait\static\menu_active\menu_active.js"></script>
    </body>
</html>